section {
  max-width: 1600px;
  width: 100%;
  height: 100vh;
  padding: 150px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $color-white;
  .txt-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px 0;
    color: $color-white;
    .tit {
      width: 100%;
      font-size: toRem(50);
    }
    .txt {
      width: 100%;
      font-size: toRem(20);
      line-height: 35px;
    }
  }
  &.fullbg {
    max-width: 100%;
  }
  &.section03 {
    background-color: $color-blue-2;
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

//section03 - img rolling banner
.img-rolling-banner {
  display: flex;
  overflow-x: hidden;
  margin-top: 154px;
  ul {
    display: flex;
    gap: 0 50px;
    &.default {
      animation: rollingbanner01 20s linear infinite;
    }
    &.clone {
      animation: rollingbanner02 20s linear infinite;
      
    }
  }
  .chat-img {
    width: 500px;
  }
  &.active {
  }
}

// section04
.section04 {
  .img-box {
    width: 706px;
    height: 462px;
    background: url("/front/images/img_browser.png") no-repeat 50px center;
  }
  .txt-box {
    text-align: left;
    align-items: flex-start;
    .tit,
    .txt {
      color: $color-black;
    }
  }
  .btn-detail {
    display: inline-flex;
    align-items: center;
    color: $color-purple-3;
    font-weight: bold;
    &::after {
      content: "";
      display: block;
      width: 45px;
      height: 24px;
      background: url("/front/images/btn_arrow01.png") no-repeat;
      background-size: contain;
    }
  }
  .img-box {
    position: relative;
    .img_desktop {
      width: 500px;
      height: auto;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
    ul {
      position: relative;
      width: 100%;
      height: 100%;
      li {
        opacity: 0;
        display: none;
        position: absolute;
        &:nth-of-type(1) {
          left: 0;
          bottom: 0;
        }
        &:nth-of-type(2) {
          left: 7%;
          bottom: 45%;
        }
        &:nth-of-type(3) {
          left: 50%;
          top: 0;
          transform: translateX(-50%);
        }
        &:nth-of-type(4) {
          right: 7%;
          bottom: 45%;
        }
        &:nth-of-type(5) {
          right: 0;
          bottom: 10%;
        }
      }
      &.active {
        li {
          opacity: 1;
          display: block;
          animation: opacityevent 200ms linear;
          &:nth-of-type(1) {
            animation-duration: 0.5s;
            bottom: 10%;
          }
          &:nth-of-type(2) {
            animation-duration: 0.6s;
          }
          &:nth-of-type(3) {
            animation-duration: 0.7s;
          }
          &:nth-of-type(4) {
            animation-duration: 0.8s;
          }
          &:nth-of-type(5) {
            animation-duration: 0.9s;
          }
        }
      }
    }
  }
}

@keyframes rollingbanner01 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rollingbanner02 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes opacityevent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
