
section{
    max-width: 1600px;
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    &.fullbg{
        color: $color-blue-2;
    }
}



//section03 - img rolling banner
.img-rolling-banner{
    .chat-img{
        width: 500px;
    }
    &.active{

    }
}

